:root{
    --primary:#F1F4F4;
    --secondary:#141414;
    --tertiary:#1c1c68;
    transition: all 0.5s ease;
}
@font-face {
    font-family: main-font;
    src: url('../sources/Raleway/Raleway-VariableFont_wght.ttf');
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield;
}
*{
    box-sizing: border-box;    
    scrollbar-width: none;
}
a:link {color: var(--secondary);}
a:visited{color: var(--secondary);}
a:hover {color: var(--tertiary);}
a:active {color: lightblue;}

body{margin: 0; padding: 0;}
html{
    padding:0;
    margin:0;
    background-color: var(--primary);
    color:var(--secondary);
    height:100%;
    font-family: main-font;
}
header{
    height:110px;
    position:relative;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
}
.file-upload input[type="file"] {
  display: none;
}
.file-upload label {
    color:var(--secondary);
    padding-left:10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid var(--secondary);
    width:315px;
    height:40px;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    justify-content: center;
}
main img {
    height: 200px;
    margin-bottom: 50px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.normal{
    text-align: center;
}
select{
    border: 2px var(--secondary) solid;
    color:var(--secondary);
    border-radius: 8px;
    padding:7px;
    cursor:pointer;
    background-color: transparent;
    font-size: 20px;
    width: 100%;
    font-family: main-font;
}
.form{
    color:var(--secondary);
    display:flex;
    justify-content: space-between;
    gap:3rem;
    max-width: 70%;
}
.form div{
    display: flex;
    flex-direction: column;
    gap:20px;
    width:100%;
}
.form div div {gap:5px;}
.form input{
    color:var(--secondary);
    padding-left:10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid var(--secondary);
    width:100%;
    height:40px;
    background-color: transparent;
}
.form label{
    font-size: 15px;
    padding-left: 8px;
    overflow: scroll;
    width:100%
}
.form2{
    display: flex;
    flex-direction: column;
    gap:20px!important;
    padding: 0;
    margin: 0;
    list-style: none;
}
.form2 p {
    font-size: 15px;
    padding: 0;
    margin: 0;
}
.form2 > li > label{
    display: flex;
    flex-direction: column;
}
.checkbox{
    width: 100%;
    flex-direction: row!important;
    justify-content: center;
    align-items: center;
}
.checkbox input{
    width: 40px;
}
button{
    color:var(--secondary);
    width: 330px;
    height:50px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid var(--secondary);
    background-color: transparent;
    transition: all 0.2s ease-out;
}
button:hover{
    background-color: var(--tertiary);
    color:var(--primary);
    border: none;
}
button:active{
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
}
.signin{
    gap: 20px !important;
}
.signin button{
    margin-top: 60px;
    margin-bottom: 0;
}
footer{
    position : absolute;
    bottom: 0;
}
.docin{
    padding: 15px 0px 0px 5px !important;
}
.register{
    display:flex; 
    justify-content: space-around;
}
.popup{
    position: fixed;
    top: 0;
    height:100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index:9999;
}
.popup-content{
    background-color: var(--secondary);
    color: var(--primary);
    padding:1rem;
    border-radius: 8px;
    animation: slideIn 0.3s ease;
}
.notif-alert{
    position:fixed;
    z-index: 500;
    background-color: #00000083;
    padding: 20%;
    width: 100%;
    height: 100%;
    text-align: justify;
    top:0;
}
.notif-alert > div > span {
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    gap:1rem;
}
.notif-alert > div > span > button {
    width:100%;
}
.notif-alert > div{
    font-weight: bold;
    border: 2px solid var(--secondary);
    background-color: var(--primary);
    border-radius: 8px;
    padding: 1rem;
}
.checks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.checks input{
    width: 20px;
}
#send{width: 100%;}
@keyframes slideIn{
    from { transform: translateY(-50px); opacity: 0;}
    to { transform: translateY(0px); opacity: 1;}
}
@media (max-width:800px){
    .form{
        flex-direction: column;
        max-width:95%;
    }
    hr{
        width: 100%;
    }
    .notif-alert {padding:1rem;}
    .notif-alert > div > span{
        flex-direction: column;
    }
}
