main{
    display:flex;
    justify-content: center;
    height:100vh;
}
p{padding: 0;margin: 0;}
input{
    border: 2px var(--secondary) solid;
    color:var(--secondary);
    border-radius: 8px;
    padding:0.4rem;
    cursor:pointer;
    background-color: transparent;
    font-size: 1.5rem;
    width: 100%;
    font-family: main-font;
}
select{
    border: 2px var(--secondary) solid;
    color:var(--secondary);
    border-radius: 8px;
    padding:7px;
    cursor:pointer;
    background-color: transparent;
    font-size: 20px;
    width: 30%;
    height:40px;
    font-family: main-font;
}
.imgs{
    border-radius: 8px;
    padding:7px;
    border: 2px var(--secondary) solid;
    background-color: transparent;
    overflow: scroll;
}
.imgs > img{
    width:100%;
    height:auto;
}
.contain{
    width:95%;
    height:100%;
    display: flex;
    justify-content: space-between;
    gap:3%;
}
.info-view{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:20px;
    padding: 1rem 0;
}
.doc-view{
    display: flex;
    flex-direction: column;
    width:100%;
    gap:10px;
    padding: 1rem 0;
}
iframe{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    border: 2px solid var(--secondary);
}
h1{font-size: 60px; font-weight: lighter;}
.plus{
    display: flex;
    width:auto;
    max-width: 100%;
    gap:2%;
}
.wrapper{
    display: flex;
    flex-direction: column;
    gap:5px;
    width: 100%;
}
ul{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 25px;
    gap:10px;
    list-style: none;
    padding: 0;
    margin:0;
}
li{
    display: flex;
    justify-content: start;
    max-width: 800px;
}
.docs {
    display: flex;
    gap:10px;
}
.docs a{
    height: 40px;
    padding:7px 10px;
    border: 1px solid var(--secondary);
    border-radius: 9px;
    min-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-out;
    cursor: pointer;
}
.info-list li {
    display: grid;
    grid-template-columns: 40px 19% 1fr;
    align-items: center;
    max-width: 100%;
}
.info-list li:nth-child(1) {
    display: flex;
    justify-content: right;
    gap:10px;
    align-items: center;
    max-width:100%;
}
.city-postal {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    width: 100%;
    font-family: main-font;
}
.box{
    border: 2px var(--secondary) solid;
    border-radius: 8px;
    padding:20px 7px;
    flex-wrap: wrap;
    flex-direction: row!important;
}
.box span{
    border: 2px var(--secondary) solid;
    border-radius: 6px;
    padding:7px;
    margin:15px 5px;
    width: fit-content;
    cursor:pointer;
}
.taging{
    border: 2px var(--secondary) solid;
    color:var(--secondary);
    border-radius: 8px;
    padding:7px;
    width:100%;
    cursor:pointer;
    background-color: transparent;
}
.birthAge{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: main-font;
}
.tests div{
    display: flex;
    gap: 1rem;
}
.tests div button{
    width: 100%;
    font-family: main-font;
}
.button-wrap{
    display: flex;
    gap:1rem;
}
.button-wrap button{ font-family: main-font; width:100%;}
@media (max-width:1179px){
    .contain{
        flex-direction: column;
    }
    .doc-view{min-height:1000px;}
}
@media (max-width:500px){
    .info-list > li > label{
        display: none;
    }
    .info-list > li{
        grid-template-columns: 40px 1fr ;
    }
    .button-wrap{flex-direction: column;}
}