<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ETAI, un outil collaboratif pour la gestion des ressources, des tâches et des statistiques d'entreprise.">
    <meta name="keywords" content="Cloud privé, collaboration, gestion des documents, productivité, entreprise, ETAI">
    <meta name="author" content="Treguier Elias">
    <meta name="robots" content="noindex, nofollow">

    <title>Cloud-testing</title>
    <script src="/scripts/theme-init.js"></script>

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/admin.css">
    <link rel="icon" type="image/png" href="/sources/favicon.ico">

    <meta property="og:title" content="Cloud-testing">
    <meta property="og:description" content="Détails du projet cloud-testing : Cloud privé, collaboration, et gestion efficace des ressources.">
    <meta property="og:image" content="assets/preview.png">
    <meta property="og:type" content="website">
</head>
<body>
    <header id="header"></header>
    <a id="addStud" style="text-align: center;">Ajouter un étudiant</a>
    <main>

        <div class="inputInfo">
            <form id="search-form">
            <input placeholder="Nom Prénom" id="nomPrenom" name="name" type="text">
            <select id="searchStatus">
                <option value="" selected>Status</option>
                <option value="archive">Archive</option>
                <option value="recherche">En recherche</option>
                <option value="active">Recherche active</option>
                <option value="entreprise">En entreprise</option>
            </select>
            <span class="place">
                <input placeholder="Lieu . . ." id="place">
                <input placeholder="Postal" id="postal">
            </span>
                <span class="place">
                <input placeholder="Age" type="number" id="age">
                <select name="tranche-age" id="trancheAge">
                    <option value="" selected>Tranche</option>
                    <option value="0-17">-18</option>
                    <option value="18-20">18 - 20</option>
                    <option value="21-25">21 - 25</option>
                    <option value="26-29">26 - 29</option>
                    <option value="30-100">30+</option>
                </select>
            </span>
            <div class="wrapper" id="tagsWrapper">
            <p>Tags</p>
            <input class="taging" id="add_tags" list="tagList" placeholder=". . .">
              <datalist id="tagList">
                <option value="Eloquence">
                <option value="Optimiste">
                <option value="Curieux">
                <option value="Détérminé">
              </datalist>
            <div class="box" id="tags">
            </div>
          </div>
          <div class="wrapper">
            <p>Compétences</p>
            <input class="taging" id="add_skills" list="skillList" placeholder=". . .">
            <datalist id="skillList">
                <!-- Languages -->
                <option value="C - acquis">
                <option value="C - en cours d'acquisition">

                <option value="C++ - acquis">
                <option value="C++ - en cours d'acquisition">

                <option value="Java - acquis">
                <option value="Java - en cours d'acquisition">

                <option value="JavaScript - acquis">
                <option value="JavaScript - en cours d'acquisition">

                <option value="TypeScript - acquis">
                <option value="TypeScript - en cours d'acquisition">

                <option value="Python - acquis">
                <option value="Python - en cours d'acquisition">

                <option value="Ruby - acquis">
                <option value="Ruby - en cours d'acquisition">

                <option value="Go - acquis">
                <option value="Go - en cours d'acquisition">

                <option value="Rust - acquis">
                <option value="Rust - en cours d'acquisition">

                <option value="PHP - acquis">
                <option value="PHP - en cours d'acquisition">

                <option value="Swift - acquis">
                <option value="Swift - en cours d'acquisition">

                <option value="Kotlin - acquis">
                <option value="Kotlin - en cours d'acquisition">

                <option value="Scala - acquis">
                <option value="Scala - en cours d'acquisition">

                <option value="Dart - acquis">
                <option value="Dart - en cours d'acquisition">

                <option value="R - acquis">
                <option value="R - en cours d'acquisition">

                <option value="Bash - acquis">
                <option value="Bash - en cours d'acquisition">

                <option value="Perl - acquis">
                <option value="Perl - en cours d'acquisition">

                <!-- Frontend -->
                <option value="HTML - acquis">
                <option value="HTML - en cours d'acquisition">

                <option value="CSS - acquis">
                <option value="CSS - en cours d'acquisition">

                <option value="React - acquis">
                <option value="React - en cours d'acquisition">

                <option value="Vue.js - acquis">
                <option value="Vue.js - en cours d'acquisition">

                <option value="Angular - acquis">
                <option value="Angular - en cours d'acquisition">

                <option value="Svelte - acquis">
                <option value="Svelte - en cours d'acquisition">

                <option value="Next.js - acquis">
                <option value="Next.js - en cours d'acquisition">

                <option value="Gatsby - acquis">
                <option value="Gatsby - en cours d'acquisition">

                <option value="Tailwind CSS - acquis">
                <option value="Tailwind CSS - en cours d'acquisition">

                <option value="Bootstrap - acquis">
                <option value="Bootstrap - en cours d'acquisition">

                <option value="jQuery - acquis">
                <option value="jQuery - en cours d'acquisition">

                <!-- Backend -->
                <option value="Node.js - acquis">
                <option value="Node.js - en cours d'acquisition">

                <option value="Express.js - acquis">
                <option value="Express.js - en cours d'acquisition">

                <option value="Django - acquis">
                <option value="Django - en cours d'acquisition">

                <option value="Flask - acquis">
                <option value="Flask - en cours d'acquisition">

                <option value="Ruby on Rails - acquis">
                <option value="Ruby on Rails - en cours d'acquisition">

                <option value="Spring Boot - acquis">
                <option value="Spring Boot - en cours d'acquisition">

                <option value="Laravel - acquis">
                <option value="Laravel - en cours d'acquisition">

                <option value="ASP.NET - acquis">
                <option value="ASP.NET - en cours d'acquisition">

                <option value="FastAPI - acquis">
                <option value="FastAPI - en cours d'acquisition">

                <option value="NestJS - acquis">
                <option value="NestJS - en cours d'acquisition">

                <!-- Databases -->
                <option value="PostgreSQL - acquis">
                <option value="PostgreSQL - en cours d'acquisition">

                <option value="MySQL - acquis">
                <option value="MySQL - en cours d'acquisition">

                <option value="SQLite - acquis">
                <option value="SQLite - en cours d'acquisition">

                <option value="MongoDB - acquis">
                <option value="MongoDB - en cours d'acquisition">

                <option value="Redis - acquis">
                <option value="Redis - en cours d'acquisition">

                <option value="Firebase - acquis">
                <option value="Firebase - en cours d'acquisition">

                <!-- DevOps -->
                <option value="Docker - acquis">
                <option value="Docker - en cours d'acquisition">

                <option value="Kubernetes - acquis">
                <option value="Kubernetes - en cours d'acquisition">

                <option value="Git - acquis">
                <option value="Git - en cours d'acquisition">

                <option value="AWS - acquis">
                <option value="AWS - en cours d'acquisition">

                <option value="Azure - acquis">
                <option value="Azure - en cours d'acquisition">

                <option value="GCP - acquis">
                <option value="GCP - en cours d'acquisition">

                <option value="Linux - acquis">
                <option value="Linux - en cours d'acquisition">

                <option value="CI/CD - acquis">
                <option value="CI/CD - en cours d'acquisition">

                <!-- Testing -->
                <option value="Jest - acquis">
                <option value="Jest - en cours d'acquisition">

                <option value="Cypress - acquis">
                <option value="Cypress - en cours d'acquisition">

                <option value="Selenium - acquis">
                <option value="Selenium - en cours d'acquisition">

                <option value="PyTest - acquis">
                <option value="PyTest - en cours d'acquisition">

                <!-- Mobile -->
                <option value="React Native - acquis">
                <option value="React Native - en cours d'acquisition">

                <option value="Flutter - acquis">
                <option value="Flutter - en cours d'acquisition">

                <option value="SwiftUI - acquis">
                <option value="SwiftUI - en cours d'acquisition">

                <!-- Other -->
                <option value="GraphQL - acquis">
                <option value="GraphQL - en cours d'acquisition">

                <option value="REST API - acquis">
                <option value="REST API - en cours d'acquisition">

                <option value="Webpack - acquis">
                <option value="Webpack - en cours d'acquisition">

                <option value="Vite - acquis">
                <option value="Vite - en cours d'acquisition">
            </datalist>
            <div class="box" id="skills"></div>
          </div>
        
            <span class="checks">
                <a class="action-btn" id="reset">Reset</a>
                <span>
                    <input type="checkbox" id="permis" name="permis">
                    <label for="permis-b">Permis</label>
                </span>
                <span>
                    <input type="checkbox" id="vehicule" name="vehicule">
                    <label for="nomade">Véhiculé</label>
                </span>
                <span>    
                    <input type="checkbox" id="mobile" name="mobile">
                    <label for="nomade">Mobile</label>
                </span>
            </span>
        </form>
        
    </div>
        <div class="list">
            <div class="header">
                <span id="name-fname">
                    <p>Etudiant</p>
                    <svg width="24" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" stroke="var(--secondary)" stroke-width="1.5" d="m2 15.999 10.173-9.824 9.824 10.173"/>
                    </svg>
                </span>
                <span id="score">
                    <p>Score</p>
                    <svg width="24" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" stroke="var(--secondary)" stroke-width="1.5" d="m2 15.999 10.173-9.824 9.824 10.173"/>
                    </svg>
                </span>
                <span id="localisation">
                    <p>Ville</p>
                    <svg width="24" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" stroke="var(--secondary)" stroke-width="1.5" d="m2 15.999 10.173-9.824 9.824 10.173"/>
                    </svg>
                </span>
                <span id="status">
                    <p>Statut</p>
                    <svg width="24" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" stroke="var(--secondary)" stroke-width="1.5" d="m2 15.999 10.173-9.824 9.824 10.173"/>
                    </svg>
                </span>
                <span id="creation-date">
                    <p>Création</p>
                    <svg width="24" height="20" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path fill="none" stroke="var(--secondary)" stroke-width="1.5" d="m2 15.999 10.173-9.824 9.824 10.173"/>
                    </svg>
                </span>
            </div>
            <div id="list"></div>
        </div>
    </main>
    <footer id="footer"></footer>
<script src="/scripts/Main.js" defer></script>
<script src="/scripts/admin.js" defer></script>
</body>
</html>
