<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ETAI, un outil collaboratif pour la gestion des ressources, des tâches et des statistiques d'entreprise.">
    <meta name="keywords" content="Cloud privé, collaboration, gestion des documents, productivité, entreprise, ETAI">
    <meta name="author" content="Treguier Elias">
    <meta name="robots" content="noindex, nofollow">
    <title>Cloud-testing</title>
    <script src="/scripts/theme-init.js"></script>
    
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/test.css">
    <link rel="icon" type="image/png" href="/sources/favicon.ico">
    <meta property="og:title" content="Cloud-testing">
    <meta property="og:description" content="Détails du projet cloud-testing : Cloud privé, collaboration, et gestion efficace des ressources.">
    <meta property="og:image" content="assets/preview.png">
    <meta property="og:type" content="website">
</head>
<body>
    <div class="loader" id="loader" role="status" aria-live="polite" hidden>
        <div class="spinner" aria-hidden="true"></div>
        <span class="loader-text">Chargement du test ...</span>
    </div>
    <div class="ready-popup" id="popup">
      <div>
        <h1>Pret ?</h1>
        <p>&nbsp&nbspAvant de pouvoir acceder a votre compte vous allez passer un court test simple, la note finale (gardée secrete) n'est pas représentative de vos chances ou de votre parcour a venir il n'y a pas de temps imparti, le but est de réaliser le test avec vos connaissances actuelle pour un accompagnement plus adapté.<br>&nbsp&nbspLe test se compose de 27 question soit 3 question sur le theme du frontend (HTML,CSS,Javascript), 3 sur le backend (Javascript,Pseudocode) et 3 question psychotechniques a choix multiples sur 3 difficultés (progressif).<br>&nbsp&nbspChaque question envoyé est corrigé par IA et stocké dans un historique privé definitif donc vous avez 1 essai et des indices en bas a gauche.<br><br> Bonne chance :D</p>
        <button id="launch-test">Passer au test</button>
      </div>
    </div>
    <header>
        <img src="/sources/LogoBleuOmbre-edited.png" height="80px">
        <h1>TEST ° <a id="test_count"></a></h1>
        <a id="toggle-theme"><svg width="70" height="70" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.589 21.659c-3.873 1.038-8.517-.545-10.98-3.632a1 1 0 0 1 .751-1.623c3.984-.118 6.662-1.485 8.17-4.098 1.51-2.613 1.354-5.616-.535-9.125a1 1 0 0 1 1.03-1.463c3.904.59 7.597 3.82 8.635 7.694 1.43 5.334-1.737 10.818-7.071 12.247" fill="var(--secondary)"/></svg></a>
    </header>
    <main>
        <h2 id="question"></h2>
        <div class="exercise">
            <div class="exemple">
            <p id="exemple"></p>
            </div>
            <div class="response"><textarea id="answer" class="text-response"></textarea></div>
        </div>
        <div class="submit">
            <a id="hint">
                <svg width="25" height="25" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
                    <g data-name="Layer 2">
                        <path fill="none" data-name="invisible box" d="M0 0h48v48H0z"/>
                        <g data-name="Layer 7">
                            <path fill="var(--secondary)" d="m27.2 34.8-4.5.4s2.2-7.9 3.8-13.2a4.1 4.1 0 0 0-3.6-5.5 3.6 3.6 0 0 0-2.7 1.2l-4 3.3a.7.7 0 0 0 .6 1.2l4.5-.4L17.5 35a4.1 4.1 0 0 0 3.6 5.5 3.6 3.6 0 0 0 2.7-1.2l4-3.3a.7.7 0 0 0-.6-1.2"/>
                            <circle fill="var(--secondary)" cx="26" cy="11" r="3"/>
                        </g>
                    </g>
                </svg>
            </a>
            <a id="submit">Envoyer et passer au test suivant</a>
        </div>
    </main>
<script src="/scripts/test.js" defer></script>
<script src="/scripts/Main.js" defer></script>
</body>
</html>